<div class="container-fluid header">
  <div class="">
    <h3>Add your business</h3>
    <div class="conatiner-fluid">
      <div class="row">
        <div class="col-md-6">
          {{add-business addBusiness='addBusiness'}}

        </div>
      </div>
    </div>

  </div>
</div>
